:root{
--vt-purple: 89, 49, 150;
}

.fundi1{
    background-image: url('/img/fund.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.text-purple{

 color:  rgba(var(--vt-purple)) ;
}
